<footer>
    <div class="section">
        <h3>Popular Topics</h3>
        <p class="plink">Travel</p>
        <p class="plink">Lifestyle</p>
        <p class="plink">Fitness</p>
        <p class="plink">Fashion</p>
        <p class="plink">Technology</p>
    </div>
    <div class="section newsletter-container">
        <h3>Newsletter</h3>
        <p>Enter your email below to receive our weekly newsletter</p>
        <div class="newsletter-box">
            <input type="text" class="newsletter" placeholder="Email">
        </div>
        <button class="pri-btn">JOIN</button>
    </div>
    <div class="section">
        <h3>Sitemap</h3>
        <a routerLink="home" routerLinkActive="active"><p>Home</p></a>
        <a routerLink="membership" routerLinkActive="active"><p>Membership</p></a>
        <a routerLink="support" routerLinkActive="active"><p>Support</p></a>
        <a routerLink="sign-in" routerLinkActive="active"><p>Sign In</p></a>
    </div>
</footer>