<div class="main">
    <div class="form-container">
        <h1>Support</h1>
        <div class="fields">
            <label for="name">Name</label>
            <input type="text" placeholder="Name...">
            <label for="email">Email</label>
            <input type="email" placeholder="Email...">
            <label for="issue">Issue</label>
            <textarea name="issue" rows="10" placeholder="Issue..."></textarea>
            <div class="button">
                <button class="pri-btn">Submit</button>
            </div>
        </div>
    </div>
</div>
