.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0;
    max-width: 400px;
    width: 90%;
    border-radius: 12px;
    background-color: var(--main);
}

h1 {
    color: white;
    text-align: center;
    margin: 50px 0;
}

label {
    margin-bottom: 10px;
}

input,
textarea {
    outline: none;
    border: 2px solid var(--main-light);
    padding: 8px;
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 20px;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
}

.fields {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.button {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}