header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: var(--main);
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    height: 100%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text);
    font-size: 12px;
    transition: all 250ms;
}

li:hover {
    cursor: pointer;
}

li:hover a {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

.topics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: var(--main);
}

.topics li {
    padding: 12px 18px;
}

.topics a {
    font-size: 10px;
}

.sign-btn {
    margin-right: 20px;
    padding: 4px 16px;
    border: none;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif !important;
    color: var(--text);
    background-color: var(--main);
    transition: all 250ms;
}

.sign-btn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.sign-up {
    border: 2px solid var(--accent);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
    background-color: var(--main);
}

.search-box {
    width: 90%;
    max-width: 450px;
    padding-left: 28px;
    font-size: 14px;
    line-height: 25px;
    color: var(--text);
    border: 2px solid var(--text);
    border-radius: 4px;
    background-color: var(--main);
    outline: none;
    font-family: 'Montserrat', sans-serif !important;
}

.bx-search-alt {
    position: relative;
    height: 18px;
    width: 18px;
    font-size: 18px;
    left: 24px;
}