<header>
    <nav>
        <ul>
            <li routerLink="home" routerLinkActive="active"><a>Home</a></li>
            <li routerLink="membership" routerLinkActive="active"><a>Membership</a></li>
            <li routerLink="contact" routerLinkActive="active"><a>Contact</a></li>
        </ul>
    </nav>
    <div class="subnav">
        <ul class="topics">
            <li><a href="">Travel</a></li>
            <li><a href="">Photography</a></li>
            <li><a href="">Lifestyle</a></li>
            <li><a href="">Technology</a></li>
            <li><a href="">Fitness</a></li>
            <li><a href="">Science</a></li>
            <li><a href="">Fashion</a></li>
        </ul>
        <div class="buttons">
            <a routerLink="sign-in" routerLinkActive="active"><button class="sign-btn">Sign In</button></a>
        </div>
    </div>
    <div class="search">
        <div class="search-elems">
            <i class='bx bx-search-alt'></i>
            <input type="text" class="search-box" placeholder="Search...">
        </div>
    </div>
</header>
