.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main {
    display: flex;
    justify-content: center;
}

.blogs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 25px;
    margin-top: 50px;
}

.blog {
    display: flex;
    flex-direction: column;
    width: 275px;
    border: 2px solid #dfdfdf;
    transition: all 250ms;
}

.blog:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 8px #dfdfdf;
}

.blog-img {
    height: 40%;
    object-fit: cover;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}

.profile h4 {
    margin: 0;
}

.icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100%;
}

.blog-content {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0;
    height: 200px;
}

.blog-content p {
    margin: 0;
    font-size: 12px;
}

button {
    margin: auto auto 25px;
}

.blog-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 12px;
}

.blog-meta p {
    font-size: 10px;
}

.bx-heart {
    color: #ff0077;
}