h3, h5 {
    color: white;
}

/* Global */

.heading {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.blog,
.popular-blog {
    position: relative;
    height: 100%;
    width: 100%;
}

.blog-info {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: all 500ms;
}

.blog-info h4 {
    margin: 8px;
    color: white;
}

.blog-info p {
    font-size: 10px;
    margin: 8px;
    color: var(--text);
}

.blog-topic {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

.blog-topic p {
    margin: 0;
    padding: 4px 8px;
    color: white;
    background-color: var(--main-dark);
    font-size: 12px;
}

.blog:hover {
    cursor: pointer;
}

.blog:hover .blog-info {
    background-color: rgba(0, 0, 0, 0.8);
}

hr {
    width: 90%;
    border: none;
    border-top: 2px solid var(--main-light);
}

.sub-section {
    flex-direction: column;
}

/* Main */

.main-blog {
    display: flex;
    width: 35%;
}

/* Sub */

.sub-blogs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 35%;
}

/* Trending */

.trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: var(--main);
}

.trending-blog {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.trending-blog:hover {
    cursor: pointer;
}

.trending-blog:hover .trending-blog-info h5 {
    color: var(--text);
}

.trending-blog img {
    width: 33%;
    height: 75px;
}

.trending-blog-info h5 {
    margin: 8px 8px 8px 24px;
    transition: all 250ms;
}

.trending-blog-info p {
    font-size: 10px;
    margin: 8px 8px 8px 24px;
    color: var(--text);
}

/* Popular */

.popular-blogs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.popular-blog {
    width: 40%;
    height: 250px;
}

/* Explore */

.explore-topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.explore-topics h4 {
    margin: 15px 30px;
    padding: 8px 16px;
    background-color: var(--main);
    border-radius: 1rem;
    font-size: 14px;
    transition: all 250ms;
}

.explore-topics h4:hover {
    cursor: pointer;
    background-color: var(--main-light);
    color: white;
}

/* Responsive */

@media only screen and (max-width: 1080px) {
    .main-blog,
    .sub-blogs,
    .trending,
    .popular-blogs {
        width: 100%;
    }

    .col {
        flex-direction: column;
        width: 100%;
    }

    .blog {
        height: auto;
    }

    .sub-blogs {
        flex-direction: row;
    }

    .popular-blogs h4 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 720px) {

    .trending-blog img {
        width: 33%;
        height: 125px;
    }

    .popular-blogs {
        gap: 25px;
        height: 100%;
    }

    .popular-blog {
        height: 200px;
    }

    .explore-topics h4 {
        margin: 15px 50%;
    }
}

@media only screen and (max-width: 500px) {
    .trending-blog img {
        height: 75px;
    }

    .popular-blogs {
        flex-direction: column;
        align-items: center;
    }

    .popular-blog {
        width: 75%;
        height: 150px;
    }
}