<div class="main">
    <div class="section col">
        <div class="main-blog">
            <div class="blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-1.jpg" alt="">
                <div class="blog-info">
                    <p>Jun 12th 2023</p>
                    <h4>Why you should be a solo traveller in 2023</h4>
                </div>
                <div class="blog-topic">
                    <p>Travel</p>
                </div>
            </div>
        </div>
        <div class="sub-blogs">
            <div class="blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-2.jpg" alt="">
                <div class="blog-info">
                    <p>May 3rd 2023</p>
                    <h4>Is AI the future of the workforce?</h4>
                </div>
                <div class="blog-topic">
                    <p>Technology</p>
                </div>
            </div>
            <div class="blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-3.jpg" alt="">
                <div class="blog-info">
                    <p>Oct 17th 2023</p>
                    <h4>Melbourne Fashion Week 2023</h4>
                </div>
                <div class="blog-topic">
                    <p>Fashion</p>
                </div>
            </div>
        </div>
        <div class="trending">
            <div class="heading">
                <h3>Trending</h3>
            </div>
            <div class="trending-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-4.jpg" alt="">
                <div class="trending-blog-info">
                    <p>May 5th 2023</p>
                    <h5>Sample Title</h5>
                </div>
            </div>
            <hr>
            <div class="trending-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-5.jpg" alt="">
                <div class="trending-blog-info">
                    <p>Jun 21st 2023</p>
                    <h5>Sample Title</h5>
                </div>
            </div>
            <hr>
            <div class="trending-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-6.jpg" alt="">
                <div class="trending-blog-info">
                    <p>Feb 19th 2023</p>
                    <h5>Sample Title</h5>
                </div>
            </div>
            <hr>
            <div class="trending-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-7.jpg" alt="">
                <div class="trending-blog-info">
                    <p>Mar 5th 2023</p>
                    <h5>Sample Title</h5>
                </div>
            </div>
            <hr>
            <div class="trending-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-8.jpg" alt="">
                <div class="trending-blog-info">
                    <p>Mar 14th 2023</p>
                    <h5>Sample Title</h5>
                </div>
            </div>
            <hr>
            <div class="trending-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-9.jpg" alt="">
                <div class="trending-blog-info">
                    <p>Apr 7th 2023</p>
                    <h5>Sample Title</h5>
                </div>
            </div>
            <hr>
            <div class="trending-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-10.jpg" alt="">
                <div class="trending-blog-info">
                    <p>Jun 5th 2023</p>
                    <h5>Sample Title</h5>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="section sub-section">
        <div class="heading">
            <h3>Popular</h3>
        </div>
        <div class="popular-blogs">
            <div class="popular-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-7.jpg" alt="">
                <div class="blog-info">
                    <p>Oct 17th 2023</p>
                    <h4>Sample Title</h4>
                </div>
                <div class="blog-topic">
                    <p>Topic</p>
                </div>
            </div>
            <div class="popular-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-7.jpg" alt="">
                <div class="blog-info">
                    <p>Oct 17th 2023</p>
                    <h4>Sample Title</h4>
                </div>
                <div class="blog-topic">
                    <p>Topic</p>
                </div>
            </div>
            <div class="popular-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-7.jpg" alt="">
                <div class="blog-info">
                    <p>Oct 17th 2023</p>
                    <h4>Sample Title</h4>
                </div>
                <div class="blog-topic">
                    <p>Topic</p>
                </div>
            </div>
            <div class="popular-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-7.jpg" alt="">
                <div class="blog-info">
                    <p>Oct 17th 2023</p>
                    <h4>Sample Title</h4>
                </div>
                <div class="blog-topic">
                    <p>Topic</p>
                </div>
            </div>
            <div class="popular-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-7.jpg" alt="">
                <div class="blog-info">
                    <p>Oct 17th 2023</p>
                    <h4>Sample Title</h4>
                </div>
                <div class="blog-topic">
                    <p>Topic</p>
                </div>
            </div>
            <div class="popular-blog" routerLink="/blog" routerLinkActive="active">
                <img src="assets/blog-cover-7.jpg" alt="">
                <div class="blog-info">
                    <p>Oct 17th 2023</p>
                    <h4>Sample Title</h4>
                </div>
                <div class="blog-topic">
                    <p>Topic</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section sub-section">
        <div class="heading">
            <h3>Explore</h3>
        </div>
        <div class="explore-topics">
            <h4>Travel</h4>
            <h4>Photography</h4>
            <h4>Lifestyle</h4>
            <h4>Technology</h4>
            <h4>Fitness</h4>
            <h4>Science</h4>
            <h4>Fashion</h4>
            <h4>Education</h4>
            <h4>Nature</h4>
            <h4>Art</h4>
        </div>
    </div>
</div>