<div class="main">
    <div class="heading">
        <h1>Membership Plans</h1>
    </div>
    <div class="container">
        <div class="plans">
            <div class="table">
                <div class="tc">
                    <div class="th basic-head">Basic</div>
                    <div class="td">Monthly Posts</div>
                    <div class="td">30 Rates / Month</div>
                    <div class="td">No Monthly Promotions</div>
                    <div class="td">Ads</div>
                    <div class="td emph">CURRENT</div>
                </div>
                <div class="tc">
                    <div class="th pro-head">Pro</div>
                    <div class="td">Weekly Posts</div>
                    <div class="td">60 Rates / Month</div>
                    <div class="td">3 Promotions / Month</div>
                    <div class="td">Ad-Free</div>
                    <div class="td"><button class="pri-btn">Upgrade</button></div>
                </div>
                <div class="tc">
                    <div class="th premium-head">Premium</div>
                    <div class="td">Unlimited Posts</div>
                    <div class="td">Unlimited Rates</div>
                    <div class="td">10 Promotions / Month</div>
                    <div class="td">Ad-Free</div>
                    <div class="td"><button class="pri-btn premium">Upgrade</button></div>
                </div>
            </div>
        </div>
        <div class="upgrade">
            <h2>Upgrade to <span class="pro">Pro</span> for only $9.99 per month!</h2>
            <button class="pri-btn">Upgrade</button>
            <h2>Upgrade to <span class="pre">Premium</span> for only $19.99 per month!</h2>
            <button class="pri-btn premium">Upgrade</button>
        </div>
    </div>
</div>