.pro {
    color: var(--accent);
}

.sml {
    font-size: 12px;
}

.container {
    text-align: left;
    margin-bottom: 150px;
}

.heading {
    display: flex;
    justify-content: center;
    margin: 50px 0 75px;
}

.upgrade {
    text-align: center;
    margin: 100px 0;
}

table, th, td {
    border: 1px solid var(--main-light);
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    width: 200px;
}

th:nth-child(2) {
    background-color: rgb(253, 88, 88);
    color: white;
}

th:nth-child(3) {
    background-color: var(--accent);
    color: white;
}

.emph {
    font-weight: bold;
    color: white;
}