.pro {
    color: var(--accent);
}

.container {
    text-align: left;
    margin-bottom: 150px;
}

.heading {
    display: flex;
    justify-content: center;
    margin: 50px 0 75px;
}

.plans {
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.tc {
    display: flex;
    flex-direction: column;
}

.td, .th {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-light);
    padding: 12px;
    width: 225px;
    height: 30px;
}

.th {
    color: white;
    font-weight: bold;
}

.basic-head {
    background-color: rgb(253, 88, 88);
}

.pro-head {
    background-color: var(--accent);
}

.premium-head {
    background-color: gold;
}

.emph {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.premium {
    background-color: gold;
    border-color: gold;
}

.premium:hover {
    background-color: var(--main);
}

.pre {
    color: gold;
}

.upgrade {
    text-align: center;
    margin: 100px 0;
}

.upgrade button {
    margin-bottom: 25px;
}

@media only screen and (max-width: 1080px) {
    .table {
        flex-direction: column;
    }
}